<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "layout/css.html" %}
    <title>hreval</title>
  </head>
  <body>
    <div class="container">
        {% include "layout/menu.html" %}
        {% block menublock %}
        {% endblock %}
        {% block mainblock %}
        {% endblock %}
        {% include "layout/footer.html" %}
        {% include "layout/js.html" %}
    </div>
  </body>
</html>