{% extends "layout/parent.html" %}
{% block menublock %}

{% if object %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Roles</th>
        <th scope="col">Description</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for obj in object %}
      <tr>
        <!-- <th scope="row"></th> -->
        <td>{{ obj.name }}</td>
        <td>{{ obj.descriptt }}</td>
        <td> <a href ='{{ object.get_dedit_url }}'> EDIT</a> </td>
        <td> <a href ='{{ object.get_ddelete_url }}'> Delete</a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

 {% endblock %}