{% extends "layout/parent.html" %}
{% load static %}
{% block menublock %}
    <div class="row">
    {% for obj in object_list %}
          
        <div class="col-4">
          
            {% include 'serialblog/snippets/card.html' with object=obj %}
        </div>
        {% if forloop.counter|divisibleby:"3" %}
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
        </div>
{% endblock %}